@media(max-width: 835px){

body{
    max-height: 800px;
}
header{
    flex-direction: column;
}

.menu{
    flex-direction: column;
    width: 233px;
}

.menu li{
    margin: 10px;
    font-size: 24px;
    width: 100px;
}

.menu li#selecionado{
    width: 100px;
}
}